<div class="az-iconbar az-iconbar-primary">
    <div class="az-iconbar-bottom">
      <a href="index.html" class="az-iconbar-logo"><i class="typcn typcn-chart-bar-outline"></i></a>
    </div><!-- az-iconbar-bottom -->
    <nav class="nav">
      <a href="#asideDashboard" class="nav-link active"><i class="typcn typcn-device-laptop" title="Dashboard"></i></a>
      <a href="#asideAppsPages" class="nav-link"><i class="typcn typcn-calendar-outline"></i></a>
      <a href="#asideUIElements" class="nav-link"><i class="typcn typcn-book"></i></a>
      <a href="#asideForms" class="nav-link"><i class="typcn typcn-folder-add"></i></a>
      <a href="#asideCharts" class="nav-link"><i class="typcn typcn-chart-line-outline"></i></a>
      <a href="#asideMaps" class="nav-link"><i class="typcn typcn-map"></i></a>
      <a href="#asideTables" class="nav-link"><i class="typcn typcn-th-large-outline"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
      <a href="#asideUtil" class="nav-link"><i class="typcn typcn-archive"></i></a>
    </nav>
    
  </div><!-- az-iconbar -->
  
  <div class="az-iconbar-aside az-iconbar-aside-primary">
    <div class="az-iconbar-header">
      <a href="index.html" class="az-logo">cms - software</a>
      <a href="" class="az-iconbar-toggle-menu">
        <i class="icon ion-md-arrow-back"></i>
  
        <i class="icon ion-md-close"></i>
      </a>
    </div><!-- az-iconbar-header -->
    <div class="az-iconbar-body">
      <div id="asideDashboard" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Administration</h6>
        <small class="az-iconbar-text">Choose between layouts to experience different look and feel for your projects.</small>
  
        <ul class="nav">
          <li class="nav-item"><a href="#" class="nav-link">Roles & Permissions</a></li>
          <li class="nav-item">
            <a href="index.html" class="nav-link with-sub">Category Management</a>
            <ul class="nav-sub">
              <li class="nav-sub-item"><a [routerLink]="['/CMSHome/CmsAdministration/CMSCreateCategory']" class="nav-sub-link">Category</a></li>
              <li class="nav-sub-item"><a href="#" class="nav-sub-link">Status</a></li>
              <li class="nav-sub-item"><a href="#" class="nav-sub-link">Gender</a></li>
              <li class="nav-sub-item"><a href="#" class="nav-sub-link">Prefix</a></li>
              <li class="nav-sub-item"><a href="#" class="nav-sub-link">Project Type</a></li>
            </ul>
          </li>
          <li class="nav-item"><a [routerLink]="['/CMSHome/CmsAdministration/CMSCreateEmployee']" class="nav-link">Employee Management</a></li>
          <li class="nav-item"><a [routerLink]="['/CMSHome/CmsAdministration/CMSCreateProject']" class="nav-link">Project Management</a></li>
          <li class="nav-item"><a [routerLink]="['/CMSHome/CmsAdministration/CMSCreateUser']" class="nav-link">User Management</a></li>
          <li class="nav-item"><a [routerLink]="['/CMSHome/CmsAdministration/CMSCreateWorkmen']" class="nav-link">Workmen Management</a></li>
        </ul>
      </div>
      <div id="asideAppsPages" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Apps &amp; Pages</h6>
        <small class="az-iconbar-text">Some pre-built web apps and pages for you to use in your project.</small>
        <ul class="nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Mailbox</a>
          </li>
          <li class="nav-item">
            <a href="app-chat.html" class="nav-link">Chat</a>
          </li>
          <li class="nav-item">
            <a href="app-calendar.html" class="nav-link">Calendar</a>
          </li>
          <li class="nav-item">
            <a href="app-contacts.html" class="nav-link">Contacts</a>
          </li>
          <li class="nav-item"><a href="page-profile.html" class="nav-link">Profile</a></li>
          <li class="nav-item"><a href="page-invoice.html" class="nav-link">Invoice</a></li>
          <li class="nav-item"><a href="page-signin.html" class="nav-link">Sign In</a></li>
          <li class="nav-item"><a href="page-signup.html" class="nav-link">Sign Up</a></li>
          <li class="nav-item"><a href="page-404.html" class="nav-link">Page 404</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideUIElements" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">UI Elements</h6>
        <small class="az-iconbar-text">Reusable elements built to provide buttons, dropdowns, input, navigation, alerts, and much more</small>
        <ul class="nav">
          <li class="nav-item"><a href="elem-accordion.html" class="nav-link">Accordion</a></li>
          <li class="nav-item"><a href="elem-alerts.html" class="nav-link">Alerts</a></li>
          <li class="nav-item"><a href="elem-avatar.html" class="nav-link">Avatar</a></li>
          <li class="nav-item"><a href="elem-badge.html" class="nav-link">Badge</a></li>
          <li class="nav-item"><a href="elem-breadcrumbs.html" class="nav-link">Breadcrumbs</a></li>
          <li class="nav-item"><a href="elem-buttons.html" class="nav-link">Buttons</a></li>
          <li class="nav-item"><a href="elem-cards.html" class="nav-link">Cards</a></li>
          <li class="nav-item"><a href="elem-carousel.html" class="nav-link">Carousel</a></li>
          <li class="nav-item"><a href="elem-collapse.html" class="nav-link">Collapse</a></li>
          <li class="nav-item"><a href="elem-dropdown.html" class="nav-link">Dropdown</a></li>
          <li class="nav-item"><a href="elem-icons.html" class="nav-link">Icons</a></li>
          <li class="nav-item"><a href="elem-images.html" class="nav-link">Images</a></li>
          <li class="nav-item"><a href="elem-list-group.html" class="nav-link">List Group</a></li>
          <li class="nav-item"><a href="elem-media-object.html" class="nav-link">Media Object</a></li>
          <li class="nav-item"><a href="elem-modals.html" class="nav-link">Modals</a></li>
          <li class="nav-item"><a href="elem-navigation.html" class="nav-link">Navigation</a></li>
          <li class="nav-item"><a href="elem-pagination.html" class="nav-link">Pagination</a></li>
          <li class="nav-item"><a href="elem-popover.html" class="nav-link">Popover</a></li>
          <li class="nav-item"><a href="elem-progress.html" class="nav-link">Progress</a></li>
          <li class="nav-item"><a href="elem-spinners.html" class="nav-link">Spinners</a></li>
          <li class="nav-item"><a href="elem-toast.html" class="nav-link">Toast</a></li>
          <li class="nav-item"><a href="elem-tooltip.html" class="nav-link">Tooltip</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideForms" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Forms</h6>
        <small class="az-iconbar-text">Forms are used to collect user information with different element types of inputs.</small>
  
        <ul class="nav">
          <li class="nav-item"><a href="form-elements.html" class="nav-link">Form Elements</a></li>
          <li class="nav-item"><a href="form-layouts.html" class="nav-link">Form Layouts</a></li>
          <li class="nav-item"><a href="form-validation.html" class="nav-link">Form Validation</a></li>
          <li class="nav-item"><a href="form-wizards.html" class="nav-link">Form Wizards</a></li>
          <li class="nav-item"><a href="form-editor.html" class="nav-link">WYSIWYG Editor</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideCharts" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Charts</h6>
        <small class="az-iconbar-text">A sheet of information in the form of a table, graph, or diagram.</small>
        <ul class="nav">
          <li class="nav-item"><a href="chart-morris.html" class="nav-link">Morris Charts</a></li>
          <li class="nav-item"><a href="chart-flot.html" class="nav-link">Flot Charts</a></li>
          <li class="nav-item"><a href="chart-chartjs.html" class="nav-link">ChartJS</a></li>
          <li class="nav-item"><a href="chart-sparkline.html" class="nav-link">Sparkline</a></li>
          <li class="nav-item"><a href="chart-peity.html" class="nav-link">Peity</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideMaps" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Maps</h6>
        <small class="az-iconbar-text">An interactive display of geographic information that you can use for location and more.</small>
        <ul class="nav">
          <li class="nav-item"><a href="map-google.html" class="nav-link">Google Maps</a></li>
          <li class="nav-item"><a href="map-leaflet.html" class="nav-link">Leaflet</a></li>
          <li class="nav-item"><a href="map-vector.html" class="nav-link">Vector Maps</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideTables" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Tables</h6>
        <small class="az-iconbar-text">A collection basic to advanced table design that you can use to your data.</small>
        <ul class="nav">
          <li class="nav-item"><a href="table-basic.html" class="nav-link">Basic Tables</a></li>
          <li class="nav-item"><a href="table-data.html" class="nav-link">Data Tables</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
      <div id="asideUtil" class="az-iconbar-pane">
        <h6 class="az-iconbar-title">Utilities</h6>
        <small class="az-iconbar-text">A collection of helper classes as additional styles to an element.</small>
        <ul class="nav">
          <li class="nav-item"><a href="util-background.html" class="nav-link">Background</a></li>
          <li class="nav-item"><a href="util-border.html" class="nav-link">Border</a></li>
          <li class="nav-item"><a href="util-display.html" class="nav-link">Display</a></li>
          <li class="nav-item"><a href="util-flex.html" class="nav-link">Flex</a></li>
          <li class="nav-item"><a href="util-height.html" class="nav-link">Height</a></li>
          <li class="nav-item"><a href="util-margin.html" class="nav-link">Margin</a></li>
          <li class="nav-item"><a href="util-padding.html" class="nav-link">Padding</a></li>
          <li class="nav-item"><a href="util-position.html" class="nav-link">Position</a></li>
          <li class="nav-item"><a href="util-typography.html" class="nav-link">Typography</a></li>
          <li class="nav-item"><a href="util-width.html" class="nav-link">Width</a></li>
          <li class="nav-item"><a href="util-extras.html" class="nav-link">Extras</a></li>
        </ul>
      </div><!-- az-iconbar-pane -->
    </div><!-- az-iconbar-body -->
  </div><!-- az-iconbar-aside -->
